form{
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    min-width: 400px;
}
form input:required{
    border:solid red;
}
form fieldset{
    background-color: rgb(219, 219, 219);
    padding: 1rem;
}
form fieldset:hover{
    background-color: rgb(100, 100, 100);
}
form fieldset:first-child{
    border-bottom-color: black;
    border-bottom-width: 5px;
}
form fieldset:nth-child(4){
    border-bottom-color: black;
    border-bottom-width: 5px;
}
form button{
    background-color: black;
    color: white;
    border: none;
}

