@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem;
}
header h1{
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header h2{
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 1rem;
}
header p{
    padding-bottom: 1rem;
}
section {
    display: block;
    margin-top: 2rem;
    padding: 1rem;
}
section h3 {
    color: #757575;
    font-size: 1.5rem;
    border-bottom: solid black 1px;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
section img{
    max-width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}
form{
    margin-bottom: 3rem;
    margin-right: 2rem;
}
form label{
    display: block;
    margin-bottom: 1rem;
}
form input, form textarea{
    
    background-color: #6F6F6F;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;  
}
form button{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
}
@media (min-width: 750px){
    *{
        font-size: 25px;
    }
    header{
        text-align:left;
    }
    article{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 400px){
    section img{
        float:right;
    }
}