.lista li:last-child{
    background-color: rgb(0, 0, 255);
}
.lista li:nth-child(odd){
    text-decoration: green;
    text-decoration-line: underline;
}
.lista li {
    display: inline-block;
    margin-left: 10px;
}
.lista li:lang(en){
    font-size: 2em;
    text-transform: uppercase;
}
.lista li:nth-child(1)::after{
    content: "\01F525";
}
.lista li:nth-child(2)::after{
    content: "\01F526";
}
.lista li:nth-child(3)::after{
    content: "\01F527";
}
.lista li:nth-child(4)::after{
    content: "\01F528";
}
.lista li:nth-child(5)::after{
    content: "\01F529";
}
.lista li:nth-child(6)::after{
    content: "\01F530";
}
#provincias {
    list-style-type: upper-roman;
}
#provincias li:nth-child(2){
    list-style:none;
}



