@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #F2A54A;
    margin:0;
    padding: 0;
}
body header h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 7rem;
    margin: 7rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
section>ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
section ul li:nth-child(2){
    animation-delay: 1s;
}
section ul li:nth-child(3){
    animation-delay: 2s;
}
.perfil{
    animation-name: start;
    animation-duration: 1s;
    max-width: 300px; 
    box-shadow: 2px 2px 10px black;
    transition-duration: 1s;
    animation-fill-mode: backwards;
}
.perfil:hover{
    transform: scale(1.2) ;    
}
.fotoPerfil img{
    margin-top: 2rem;
    width: 150px;
    border-radius: 50%;
}
.listaRRSS{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.listaRRSS li a{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    
}
.listaRRSS li:nth-child(1) a{
    background-image: url("./img/facebook.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.listaRRSS li:nth-child(2) a{
    background-image: url("./img/instagram.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.listaRRSS li:nth-child(3) a{
    background-image: url("./img/twitter.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.listaRRSS li:nth-child(4) a{
    background-image: url("./img/linkedin.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.listaRRSS li:nth-child(5) a{
    background-image: url("./img/tiktok.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

section header{
    background-color: #FFFFFF;
    text-align: center;
}
section p{
    background-color: #7001FF;
    color: #FFFFFF;
    font-size: 12px;
    padding: 20px;
}
section ul{
    list-style: none;
}
@keyframes start {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}